<ion-header>
  <ion-toolbar>
    <ion-title>Make Payment</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Select Payment Method</h2>
  <h5>Credit/Debit Card</h5>
  <ion-card style="width: 150px; height: 120px; margin-left: 10px;" href="https://www.visa.com.lk/">
    <img src="assets/visa.png" width="150px" style="margin-top: 0px;">
  </ion-card>
  <ion-card style="width: 150px; height: 120px; margin-top: -130px; margin-left: 220px;" href="https://www.mastercard.us/en-us.html">
    <img src="assets/mastercard.png" width="120px" height="120px" style="margin-top: 2px; margin-left: 15px;">
  </ion-card>
  <ion-card style="width: 150px; height: 120px; margin-top: 20px;" href="https://www.americanexpress.lk/">
    <img src="assets/axp.png" width="120px" height="120px" style="margin-top: 2px; margin-left: 15px;">
  </ion-card>
  <ion-card style="width: 150px; height: 120px; margin-top: -130px; margin-left: 220px;" href="https://www.discover.com/">
    <img src="assets/discover.png" width="120px" height="120px" style="margin-top: 2px; margin-left: 15px;">
  </ion-card>

  <h5>Mobile Wallet</h5>
  <ion-card style="width: 150px; height: 120px; margin-left: 10px;" href="https://www.genie.lk/">
    <img src="assets/genie.jfif" width="120px" height="120px"style="margin-top: 0px; margin-left: 15px;">
  </ion-card>
  <ion-card style="width: 150px; height: 120px; margin-top: -130px; margin-left: 220px;" href="https://www.ezcash.lk/">
    <img src="assets/ezcash.png" width="150px" height="100px" style="margin-top: 5px; margin-left: 0px;">
  </ion-card>
  <ion-card style="width: 150px; height: 120px; margin-top: 20px;" href="https://www.mobitel.lk/mcash">
    <img src="assets/mcash.png" width="120px" height="120px" style="margin-top: 2px; margin-left: 15px;">
  </ion-card>

  <h5>Online Banking</h5>
  <ion-card style="width: 150px; height: 120px; margin-left: 10px;">
    <img src="assets/vishwa.png" width="120px" height="120px"style="margin-top: 0px; margin-left: 15px;">
  </ion-card>
  <ion-card style="width: 150px; height: 120px; margin-top: -130px; margin-left: 220px;">
    <img src="assets/boc.jfif" width="100px" height="100px" style="margin-top: 10px; margin-left: 25px;">
  </ion-card>

</ion-content>
