<ion-header>
  <ion-toolbar>
    <ion-title>Add Blogs</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding">
    <ion-item>
      <ion-label position="floating">Topic : </ion-label>
      <ion-input type="text" ></ion-input>
    </ion-item>
    <br>
    <p>Blog content:</p><br>
    <ion-item>
    <br>
      <br>
      <textarea name="content" id="content" cols="40" rows="20"></textarea>
    </ion-item>
    <ion-button expand="full" >Create</ion-button>
  </ion-list>
</ion-content>
