<ion-header>
  <ion-toolbar>
    <ion-title>Workshop</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-button color="danger" (click)="scanBRcode()" expand="block">
        Scan Barcode
    </ion-button>
</ion-card>

<ion-card>
    <div *ngIf="scannedBarcode">
        <ion-item>
            Scanned code output: <strong>{{ scannedBarcode["text"] }}</strong>
        </ion-item>
        <!-- <ion-item>
            Scanned code output: <strong>{{ scannedBarcode["format"] }}</strong>
        </ion-item> -->
        <ion-item>
          Member Id : <ion-input type="text" [(ngModel)]="memberid"></ion-input>
          
        </ion-item>
        <!-- <ion-item>
          <ion-list>
            <ion-radio-group value="biff">
              <ion-list-header>
                <ion-label>Role</ion-label>
              </ion-list-header>
          
              <ion-item>
                <ion-label>Conduct Member </ion-label>
                <ion-radio slot="start" value="biff"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>Participant</ion-label>
                <ion-radio slot="start" value="griff"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
           [(ngModel)]="memberid" -->
        <!--</ion-item>  -->
        <ion-item>
          <ion-button color="success" (click)="tryWorshop()" expand="block">Update Credit</ion-button>
        </ion-item>   
    </div>
    <!-- <ion-item>
      Member Id : <ion-input type="text" [(ngModel)]="memberid"></ion-input>
      
    </ion-item>  
    <ion-item>
      <ion-button color="success" (click)="tryWorshop()" expand="block">Update Credit</ion-button>
    </ion-item>  -->
</ion-card>
<!-- <ion-card>
  <h3>Generate New QR Code</h3>
  <ion-input placeholder="Enter Input" [(ngModel)]="encodedData"></ion-input>

  <ion-button color="primary" (click)="generateBarCode()" expand="block">
    QR Code Create
  </ion-button>
</ion-card> -->
<div class="action-button" >
  <ion-button><ion-icon slot="start" name="add"></ion-icon>REQUEST</ion-button>
</div>
<h3 style="margin-left: 10px;">Recommend for you</h3>
<ion-card class="welcome-card" >
  <ion-card-header>
    <!-- <ion-card-subtitle>Number of Viewers per season for</ion-card-subtitle> -->
  </ion-card-header>
  <ion-card-content>
    <img src="assets/workshop.jpeg" alt="" width="300px" height="300px" style="margin-top: -15px;"/>
    <h2 style="color: black; font-weight: bold;">Past LIVE STREAM Workshops and Specialty Classes</h2> 
    <p style="margin-top: 0"> Join us this weekend on Zoom for two beautiful workshops with our dear friend and collaborator
      Rosangela Silvestre.
      Rosangela is a master teacher, dancer, researcher, and choreographer from Salvador Bahia. She will be leading us through some of the contemporary technique she has discovered and curated over her long and illustrious career, as well as symbology of Orixá. Donations are welcome but not required. Zoom link will be on BrasArte's Facebook event page soon.
      May 2nd & 3rd
      2-3:30pm PDT
      PayPal brasarteberkeley@gmail.com
      Venmo @brasarteberkeley
      </p> 
  </ion-card-content>
</ion-card>
</ion-content>
