<ion-header>
  <ion-toolbar>
    <ion-title>Workshop</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-button color="danger" (click)="scanBRcode()" expand="block">
        Scan Barcode
    </ion-button>
</ion-card>

<ion-card>
    <div *ngIf="scannedBarcode">
        <ion-item>
            Scanned code output: <strong>{{ scannedBarcode["text"] }}</strong>
        </ion-item>
        <!-- <ion-item>
            Scanned code output: <strong>{{ scannedBarcode["format"] }}</strong>
        </ion-item> -->
        <ion-item>
          Member Id : <ion-input type="text" [(ngModel)]="memberid"></ion-input>
          
        </ion-item>
        <ion-item>
          <ion-list>
            <ion-radio-group value="biff">
              <ion-list-header>
                <ion-label>Role</ion-label>
              </ion-list-header>
          
              <ion-item>
                <ion-label>Conduct Member </ion-label>
                <ion-radio slot="start" value="biff"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>Participant</ion-label>
                <ion-radio slot="start" value="griff"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <!-- [(ngModel)]="memberid" -->
        </ion-item>

    </div>
</ion-card>
<ion-card>
  <h3>Generate New QR Code</h3>
  <ion-input placeholder="Enter Input" [(ngModel)]="encodedData"></ion-input>

  <ion-button color="primary" (click)="generateBarCode()" expand="block">
    QR Code Create
  </ion-button>
</ion-card>
</ion-content>
