<ion-header>
  <ion-toolbar>
    <ion-title>Payments</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="success" (click)="payment()" expand="full">Make Payments</ion-button>
  <h2>MEMBERSHIP FEES</h2>
  <h5>Members (MCS)</h5>
  <ul>
    <li>The Application processing fee is Rs. 500.00</li>
    <li>Initial fee is Rs. 4,000.00</li>
    <li>Annual Subscription fee is Rs 3,000.00</li>
  </ul>
  <h5>Associate</h5>
  <ul>
    <li>The Application processing fee is Rs. 500.00</li>
    <li>Initial fee is Rs. 2,000.00</li>
    <li>Annual Subscription fee is Rs 1,500.00</li>
  </ul>
  <h5>Student</h5>
  <ul>
    <li>The Application processing fee is Rs. 500.00</li>
    <li>Initial fee is FREE</li>
    <li>Annual Subscription fee is Rs 500.00</li>
  </ul> 
</ion-content>
