<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <!-- <ion-card-subtitle>Number of Viewers per season for</ion-card-subtitle> -->
      <ion-card-title>Your Anually Target</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-progress-bar value="{{membercredit}}" color="success"></ion-progress-bar>
      <ion-card-subtitle>{{credit}} of 30 credit complete</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card" style="background-color:#4c8dff ;">
    <ion-card-header>
      <!-- <ion-card-subtitle>Number of Viewers per season for</ion-card-subtitle> -->
      <ion-card-title>Recent Activities</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <!-- <ion-card-subtitle>Number of Viewers per season for</ion-card-subtitle> -->
    </ion-card-header>
    <ion-card-content>
      <img src="assets/angular.png" alt="" width="50px" style="margin-top: -15px;"/>
      <h2 style="margin-top: -70px; margin-left: 60px;color: black;">Angular Framework-5 days courses</h2> 
      <p style="margin-top: 0px; margin-left: 60px;">Instructor : Dr. Banuka Perera</p> 
      <ion-progress-bar style="margin-top: 2px; margin-left: 60px;" value="0.3" color="primary"></ion-progress-bar>
      <ion-card-subtitle style="margin-top: 2px; margin-left: 60px;">25% completed</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <!-- <ion-card-subtitle>Number of Viewers per season for</ion-card-subtitle> -->
    </ion-card-header>
    <ion-card-content>
      <img src="assets/ionic.png" alt="" width="50px" style="margin-top: -15px;"/>
      <h2 style="margin-top: -70px; margin-left: 60px;color: black;">ionic Framework</h2> 
      <p style="margin-top: 0px; margin-left: 60px;">Instructor : Dr.N.B.Thushar</p> 
      <ion-progress-bar style="margin-top: 2px; margin-left: 60px;" value="0.6" color="success"></ion-progress-bar>
      <ion-card-subtitle style="margin-top: 2px; margin-left: 60px;">25% completed</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <!-- <ion-card-subtitle>Number of Viewers per season for</ion-card-subtitle> -->
    </ion-card-header>
    <ion-card-content>
      <img src="assets/react.png" alt="" width="50px" style="margin-top: -15px;"/>
      <h2 style="margin-top: -40px; margin-left: 60px;color: black;">React Framework-10 months courses</h2> 
      <p style="margin-top: 0px; margin-left: 60px;">Instructor : Dr. L.K.Weerarathna</p> 
      <ion-progress-bar style="margin-top: 2px; margin-left: 60px;" value="0.1" color="danger"></ion-progress-bar>
      <ion-card-subtitle style="margin-top: 2px; margin-left: 60px;">10% completed</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>
